<div class="container">
  <div class="mt-4">
    <div class="col-md-8 offset-2">

      <div class="row mt-4">
        <h3>消耗品一覧</h3>
          <div class="col-8 text-right">
            <%= link_to "＋", new_admin_item_path, class:"h1 text-decoration-none text-dark", 'data-turbolinks': false  %>
          </div>
      </div>

      <div class="col-12 mt-4 mb-5">
        <table class="table text-center">
          <thead>
            <tr class="table-active">
              <th>消耗品ID</th>
              <th>商品名</th>
              <th>商品詳細文</th>
              <th>ジャンル</th>
            </tr>
          </thead>
          <tbody>
            <% @items.each do |item|%>
              <tr>
               <td><%= item.id %></td>
               <td><%= link_to item.name, admin_item_path(item.id), class:"text-dark" %></td>
               <td><%= item.memo %></td>
               <td><%= item.genre.name %></td>
            <% end %>
         </tbody>
       </table>
     </div>
     <!--ページネーション～kaminari～-->
     <div class="col-2 offset-5">
      <%= paginate @items %>
     </div>

    </div>
  </div>
</div>