<div class="container">
  <div class="mt-4">

    <div class="col-12 col-md-11 col-lg-8 px-5 px-sm-0 mx-auto my-3">
      <h3 class="mb-3">使用報告一覧</h3>
        <table class="table">
          <thead>
            <tr class="table table-hover text-center">
              <th class="table-active">使用日時</th>
              <th class="table-active">使用者</th>
              <th class="table-active">使用商品</th>
              <th class="table-active">使用個数</th>
              <th class="table-active">使用理由</th>
            </tr>
          </thead>
          <tbody>
            <% @utilizations.each do |utilization| %>
              <tr class="text-center">
                <td><%= utilization.created_at.strftime('%Y/%m/%d') %></td>
                <td><%= link_to utilization.teacher.name, admin_teacher_path(utilization.teacher), class:"text-dark" %></td>
                <td><%= link_to utilization.item.name, admin_item_path(utilization.item), class:"text-dark" %></td>
                <td><%= utilization.item_count %></td>
                <td><%= utilization.usage_rule_i18n %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
    
  <!--ページネーション～kaminari～-->
    <div class="col-5 offset-4">
      <%= paginate @utilizations %>
    </div>
    
  </div>
</div>