<div class="container mt-5">
  <h2 class="text-center">新規登録</h2>
    <div class="row">

      <%= form_with model: @teacher, url:teacher_registration_path, local: true do |f| %>
      <%= render "public/shared/error_messages", resource: resource %>

      <div class="form-group row mt-4">
        <%= f.label :"名前", class:"col-2" %>
        <%= f.label :"（姓）", class:"col-1" %>
        <%= f.text_field :last_name, autofocus: true, placeholder:"令和" , class:"col-3 name" %>
        <%= f.label :"（名）",class:"col-1"%>
        <%= f.text_field :first_name, autofocus: true, placeholder:"道子", class:"col-3 name" %>
      </div>

      <div class="form-group row">
        <%= f.label :"メールアドレス", class:"col-4" %>
        <%= f.email_field :email, autofocus: true, placeholder:"sample@example.com", autocomplete: "email", class:"col-5" %>
      </div>

      <div class="form-group row">
        <%= f.label :"学年", class:"col-4" %>
        <%= f.text_field :grade, autofocus: true, placeholder:"1年", class:"col-5 name" %>
      </div>

      <div class="form-group row">
        <%= f.label :教科, class:"col-4" %>
        <%= f.text_field :subject, autofocus: true, placeholder:"国語", class:"col-5 name" %>
      </div>

      <div class="form-group row">
        <%= f.label :"部活", class:"col-4" %>
        <%= f.text_field :club, autofocus: true, placeholder:"野球部", class:"col-5 name" %>
      </div>

      <div class="form-group row">
        <%= f.label :"その他", class:"col-4" %>
        <%= f.text_field :another, autofocus: true, placeholder:"図書委員会", class:"col-5 name" %>
      </div>

      <div class="form-group row">
        <%= f.label :"パスワード(６文字以上)", class:"col-4" %>
        <%= f.password_field :password, autocomplete: "new-password", class:"col-4" %>
      </div>

      <div class="form-group row">
        <%= f.label :"パスワード(確認用)", class:"col-4" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"col-4" %>
      </div>

      <div class="actions row">
        <%= f.submit "新規登録", class:"btn btn-success col-4 mx-auto" %>
      </div>
      <% end %>

    </div>

    <h4 class = "col-3 mt-4"><strong>既に登録済みの方</strong></h4>
      <p class = "row offset-1 mt-3"><%= render "public/shared/links" %>からログインしてください</P>
</div>
