<div class="container px-5 px-sm-0">
  <div class="row">

    <div class="col-md-3">
      <h3>プロフィール</h3>
      <%= render "info", teacher: @teacher %>
    </div>

    <div class="col-md-8 offset-md-1">
      <h3>使用報告一覧</h3>
        <% if @utilizations.present? %>
          <table class = "table table-hover table-secondary table-inverse text-center">
             <thead>
              <tr>
               <th class="table-active">使用日</th>
               <th class="table-active">商品名</th>
               <th class="table-active">使用個数</th>
               <th class="table-active">使用理由</th>
              </tr>
              </thead>
              <tbody>
                <% @utilizations.each do |utilization| %>
                  <tr>
                    <td><%= utilization.created_at.strftime('%Y/%m/%d') %></td>
                     <td><%= link_to utilization.item.name, item_path(utilization.item) %></td>
                     <td><%= utilization.item_count %> </td>
                    <td><%= utilization.usage_rule_i18n %></td>
                  </tr>
                <% end %>
              </tbody>  
          </table>
          <%= paginate @utilizations %>
        <% else %>
          <p class="container">使用履歴がありません。</p>
        <% end %>

        <!--お気に入り一覧を表示-->
        <div class=" favorite pt-4">
          <%= render "public/favorites/index", favorites: @favorites %>
        </div>
    </div>
  </div>
</div>