<div class="container mt-4">

  <h2 class="col-3 offset-4 text-center">ログイン</h2>

  <%= form_with model: @teacher, url: teacher_session_path, local: true do |f| %>
    <div class="row mt-3 offset-4">
      <%= f.label :"名前" %>
      <%= f.text_field :name, autofocus: true, placeholder:"令和 道子", class:"ml-5" %>
    </div>

    <div class="row mt-3 offset-4">
      <%= f.label :"パスワード" %>
      <%= f.password_field :password, autocomplete:"current-password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field row mt-5 offset-5">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, class:"ml-3" %>
      </div>
    <% end %>

    <div class="actions offset-5 my-3">
      <%= f.submit "ログイン", class:"btn btn-primary" %>
    </div>
  <% end %>

  </div>
       <h6 class="mt-5 offset-4 col-2 text-center"><strong>登録がお済みでない方</strong></h6>
        <p class="row mt-3 offset-5"><%= render "public/shared/links" %>から新規登録を行ってください。</p>
</div>