<div class="row d-flex mt-5 ">
  <div class="col-1"></div>

    <%= render "public/items/genre_form", genres: @genres %>

    <div class="col-9">
      <div class="d-flex">
        <p style="font-size:35px"><%= @search_genre %>一覧</p>
        <p style="font-size:25px; line-height: 2;">(全<%= @items_all.count %>件)</p>
      </div>

      <div class="d-flex flex-wrap items_width">
        <% @items.each do |item| %>
          <div class="mx-3 my-3">
            <%= link_to item_path(item) do %>
            <%= image_tag item.get_image(200,160) %>
            <% end %><br>
            <%= item.name %><br>
            <%= item.memo %>
          </div>
          <!--お気に入り機能-->
          <div id="favorite_btn_<%= item.id %>">
            <%= render "/public/favorites/btn", item: item %>
          </div>
        <% end %>
      </div>

    <!--ページネーション～kaminari～-->
      <div class="row justify-content-center my-4">
        <%= paginate @items %>
      </div>
    </div>
</div>